@font-face {
  font-family: 'Tofino';
  src: url('/assets/fonts/tofino/TofinoWide-MediumPersonal.otf')
    format('truetype');
  font-style: normal;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Tofino';
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
input,
input::placeholder {
  font-weight: 800;
  font-size: 37px;
  line-height: 71px;
  text-transform: uppercase;
  background-color: transparent;
  padding-right: 20px;
  padding-left: 10px;

}
input {
  border: 1px solid #ffffff;
  color: #ffffff;
}
button {
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 20%;
  height: 101px;
  background: '#FFFFFF';
  cursor: pointer;
  border: none;
  color: '##012743';
  font-weight: 700;
  font-size: 37px;
  line-height: 71px;
}
