@font-face {
  font-family: 'Tofino';
  src: url('/assets/fonts/tofino/TofinoWide-MediumPersonal.otf') format('truetype');
  font-style: normal;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Tofino'
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
input,
input::placeholder {
  font-weight: 800;
  font-size: 37px;
  line-height: 71px;
  text-transform: uppercase;
}
input{
  border: 1px solid #FFFFFF;

}
